:root{
    --text-border: 2px 2px 2px black;
    --text-font: "Arial", serif
}

input{
    all: unset;
}

body{
    margin: 0 0;
    font-family: "Arial", serif;
    height: 1500px;
    background-image: url("/assets/bg.png");
    background-size: cover;
    background-attachment: fixed;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

a {
    color: inherit; /* Цвет ссылок становится таким же, как цвет родительского элемента */
    text-decoration: none; /* Убираем подчёркивание */
    background-color: transparent; /* Фон прозрачный, чтобы не выделяться */
    cursor: pointer; /* Оставляем указатель, чтобы было понятно, что ссылка кликабельна */
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    color: white;
    text-shadow: var(--text-border);
    background-color: bisque;
    position: fixed;
    width: 100%;
    z-index: 100;
    image-rendering: crisp-edges;
    background-image: url("/assets/brick.png");
    background-size: 79.88px 79.88px;
}

.header-wrapper__title{
    font-family: "Arial", serif;
    margin-left: 20px;
}

.header-buttons{
    width: 15%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    font-family: "Arial", serif;
    justify-content: space-between;
    margin-right: 20px;
}

.header-buttons__button{
    transition: .3s;
}

.header-buttons__button:hover{
    transform: scale(1.05);
    color: #ffefe9;
}

.main__wrapper{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    padding-top: 100px;
}

.main-content{
    width: 80%;
    background-color: rgba(189, 189, 189, 0.6);
    padding: 15px;
}

.main__slide-show{
    width: 100%;
    background-color: antiquewhite;
}

.updates{
    margin-left: 20px;
    color: white;
    text-shadow: var(--text-border);
}

.aside{
    width: 15%;
    background-color: #9e9e9e;
    margin-left: 20px;
    color: white;
    text-shadow: var(--text-border);
    align-self: flex-start;
}

.aside-title{
    text-align: center;
}

.online-wrapper{
    width: 80%;
    height: 20px;
    margin: 0 auto;
}

.online-bar{
    background-color: rgba(41,38,9);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.online-bar__progress-bar{
    background-color: forestgreen;
    height: 20px;
    border-radius: 5px;
    transition: .3s;
}

.online-players{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

/*
    Inputs
 */

.standard-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 20%;
}

.form-input{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border: 3px solid #dfc598;
    padding: 5px;
    margin: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.form-input::placeholder{
    color: #5a5a5a;
}

.form-submit{
    background-color: #fdf3b2;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease-out;
    border: 2px solid #bca060;
}

.form-submit:hover{
    transform: scale(1.05);
}

.read-more{
    color: white;
    text-decoration-line: underline;
}

.news{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: rgba(243, 238, 206, 0.74);
    margin: 15px;
}

.news-image{
    margin: 0 auto;
    width: 70%;
}

.news-image__img{
    width: 100%;
}

.news_text{
    font-size: 1.2rem;
}

.news__buttons{
    display: flex;
    justify-content: center;
}

.news-button{
    margin: 15px;
    font-size: 1.5rem;
    width: 70px;
    height: 70px;
    transition: .5s;
}

.news-button:hover{
    cursor: pointer;
    background-color: #ffe529;
}

.registration-error{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    background-color: #ff3f3fa1;
    padding: 15px;
}