:root{
    --text-border: 2px 2px 2px black;
    --text-font: "Arial", serif;
    --bg-color: rgba(202, 201, 189, 0.74);
    --bg-sub-color: rgba(189, 189, 189, 0.6);
    --border-color: #505050;
    --text-border2:
            2px -2px 0 var(--border-color),
            2px 0px 0 var(--border-color),
            2px 2px 0 var(--border-color),
            0px 2px 0 var(--border-color),
            -2px 2px 0 var(--border-color),
            -2px 0px 0 var(--border-color),
            -2px -2px 0 var(--border-color),
            0px -2px 0 var(--border-color);
}

input{
    all: unset;
}

body{
    margin: 0 0;
    font-family: "Arial", serif;
    height: 1500px;
    background-image: url("/assets/background.png");
    background-size: cover;
    background-attachment: fixed;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

a {
    color: inherit; /* Цвет ссылок становится таким же, как цвет родительского элемента */
    text-decoration: none; /* Убираем подчёркивание */
    background-color: transparent; /* Фон прозрачный, чтобы не выделяться */
    cursor: pointer; /* Оставляем указатель, чтобы было понятно, что ссылка кликабельна */
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    color: white;
    text-shadow: var(--text-border);
    position: fixed;
    width: 100%;
    z-index: 100;
    image-rendering: crisp-edges;
    background-image: url("/assets/planks_oak.png");
    background-size: 79.88px 79.88px;
}

.header-wrapper__title{
    font-family: "Arial", serif;
    margin-left: 20px;
}

.header-buttons{
    width: 15%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    font-family: "Arial", serif;
    justify-content: space-between;
    margin-right: 20px;
}

.header-buttons__button{
    transition: .3s;
}

.header-buttons__button:hover{
    transform: scale(1.05);
    color: #ffefe9;
}

.main__wrapper{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    padding-top: 100px;
}

.main-content{
    width: 80%;
    background-color: var(--bg-sub-color);
    padding: 15px;
}

.main__slide-show{
    width: 100%;
    background-color: var(--bg-color);
}

.updates{
    margin-left: 20px;
    color: white;
    text-shadow: var(--text-border);
}

.aside{
    width: 15%;
    background-color: var(--bg-sub-color);
    margin-left: 20px;
    color: white;
    text-shadow: var(--text-border);
    align-self: flex-start;
}

.aside-title{
    text-align: center;
}

.online-wrapper{
    width: 80%;
    height: 20px;
    margin: 0 auto;
}

.online-bar{
    background-color: rgba(41,38,9);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.online-bar__progress-bar{
    background-color: #5a775a;
    height: 20px;
    border-radius: 5px;
    transition: .3s;
}

.online-players{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

/*
    Inputs
 */

.standard-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 20%;
}

.form-input{
    width: 100%;
    height: 25px;
    color: white;
    text-shadow: var(--text-border);
    background-color: rgb(118 118 115 / 74%);
    box-shadow: 1px 0px 10px #959595 inset;
    padding: 5px;
    margin: 5px;
    font-size: 1.2rem;
    text-align: center;
    transition: .5s;
}

.form-input:focus{
    background-color: rgba(143, 143, 141, 0.6);
}

.form-input::placeholder{
    color: #5a5a5a;
    text-shadow: none;
}

.form-submit{
    background-color: rgba(108, 108, 108, 0.56);
    padding: 15px;
    cursor: pointer;
    transition: .3s ease-out;
}

.form-submit:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgba(156, 156, 156, 0.6);
}

.read-more{
    color: white;
    text-decoration-line: underline;
}

.news{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: var(--bg-sub-color);
    margin: 15px;
}

.news-image{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
}

.news-image>img{
    max-height: 650px;
}

.news-image__img{
    width: 100%;
    height: auto;
}

.news_text{
    font-size: 1.2rem;
}

.news__buttons{
    display: flex;
    justify-content: center;
}

.news-button{
    margin: 15px;
    font-size: 1.5rem;
    width: 70px;
    height: 70px;
    transition: .5s;
}

.news-button:hover{
    cursor: pointer;
    background-color: #ffe529;
}

.registration-error{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    background-color: #ff3f3fa1;
    padding: 15px;
}

.panel{
    background-color: var(--bg-sub-color);
    padding: 15px;
}

.panel_manipulate{
    display: flex;
    flex-direction: column;
}

.panel__buttons{
    display: flex;
}

.button{
    margin-top: 10px;
    margin-left: 10px;
    font-size: var(--user-data-text);
    padding: 10px;
    background-color: rgba(108, 108, 108, 0.56);
    color: white;
    text-shadow: var(--text-border);
    border: none;
    transition: .5s;
}


.button:hover{
    cursor: pointer;
    background-color: rgba(156, 156, 156, 0.6);
}

.panel_input{
    background-color: rgb(118 118 115 / 74%);
    padding: 8px;
    box-shadow: 1px 0px 10px #959595 inset;
    color: white;
}

textarea.panel_input{
    border: none;
    border-radius: 0;
    font-family: var(--text-font);
    font-size: 1.05rem;
}

textarea.panel_input:focus{
    outline: none;
}

.modal__window{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    min-width: 500px;
    background-color: var(--bg-sub-color);
    padding: 15px;
    border: 8px solid #595959;
}

.modal__window_child{
    background-color: var(--bg-sub-color);
    /*width: 100%;*/
    padding: 15px;
}

.shop-navigation{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    background-color: var(--bg-sub-color);
}

.shop-navigation>.button{
    margin: 5px;
}