.slideshow__wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    padding-top: 25px;
    padding-bottom: 25px;
}

.slideshow{
    width: 90%;
    height: 100%;
    overflow: hidden;
}

.slides__wrapper{
    transition: .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slideshow__slide{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.slide-image__img{
    width: 100%;
    height: 100%;
}

.slideshow-buttons{
    display: flex;
    justify-content: space-between;
    position: absolute;
    color: white;
    font-family: "Arial", serif;
    font-size: 1.2rem;
    z-index: 2;
    width: 100%;
    top: 40%;
    transform: translateY(-50%);
}

.slideshow-buttons__button{
    background-color: #9e9e9e;
    border-radius: 50%;
    width: 40px;         /* одинаковая ширина */
    height: 40px;        /* одинаковая высота */
    border: 2px solid black;
    display: flex;       /* для центрирования содержимого */
    align-items: center; /* вертикальное центрирование */
    justify-content: center; /* горизонтальное центрирование */
    font-size: 1.2rem;
    margin: 40px;
    transition: .3s ease-in-out;
}

.slideshow-buttons__button:hover{
    cursor: pointer;
    background-color: #c3c3c3;
}

.slide_text{

}

.slide__description{
    border: 2px #919191 solid;
    padding:15px ;
}